
<div class="right-widget recent-post">
    <h3>Latest Posts</h3>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img1.jpg" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Get to Know US</h4>
                <p>The More You Know The More We Serve</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img2.jpg" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Our Squads</h4>
                <p>Full Squad Details</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img3.jpg" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Know About Our Recent Transfer Negotiations</h4>
                <p>Posted On: Jan 15, 2021</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img4.jpg" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>Our Winning Ways </h4>
                <p>Posted On: Treble winners 2020</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="assets/images/img5.jpg" alt="blog1" />
            </div>
            <div class="rb-box-desc">
                <h4>The Legendary Front Three</h4>
                <p>From Ribery, Lewandowski and Robben TO Lewa,Serge Gnabry And Sane get to know more exciting news  </p>
            </div>
        </div>
    </a>
  </div>
  