
<section class="cmspage mtb-40">
    <div class="container">
      <h1>About</h1>
      <div class="page-desc">
        <p>FC Bayern Munich is a German sports club based in Munich, Bavaria. It is best known for its professional football team, which plays in the Bundesliga, the top tier of the German football league system, and is the most successful club in German football history, having won a record 30 national titles and 20 national cups.[1]

          Founded in 1900 by eleven football players led by Franz John... the club had its period of greatest success in the middle of the 1970s when, under the captaincy of Franz Beckenbauer, they won the European Cup three times in a row (1974–76). Overall, Bayern has reached eleven European Cup/UEFA Champions League finals, most recently winning their sixth title in 2020 as part of a continental treble. Bayern has also won one UEFA Cup, one European Cup Winners' Cup, one UEFA Super Cup, one FIFA Club World Cup and two Intercontinental Cups, making it one of the most successful European clubs internationally. Since the formation of the Bundesliga, Bayern has been the dominant club in German football with 29 titles and has won 10 of the last 13 titles.
        
        </p>
      </div>
    </div>
</section>
