
<section class="blog-list mtb-40">
  <div class="container">
    <h1>{{title}}</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img1.jpg" alt="blog1" />
          <h3> About Us </h3>>
            <p><span>Know Us Better</span> For <span>True Fans</span></p>
            <p>Fc Bayern commonly known as FC Bayern München, FCB, Bayern Munich, or FC Bayern, is a German professional sports club based in Munich, Bavaria </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img2.jpg" alt="blog1" />
            <h3>SQUAD 2020/2021</h3>
            <p>Lenght Of  <span>Full Squad</span> Updated on <span> SEPTEMBER 9,2020</span></p>
            <p>TEAM WORK PROVIDE US BETTER STABILITY </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img3.jpg" alt="blog1" />
            <h3>TRANSFER ROUMORS</h3>
            <p>by <span>HANSI FLICK</span> AND <span>President -Herbert Hainer
                Chairman -Karl-Heinz Rummenigge</span></p>
            <p>There is a lot of versatility in defence mainly with players like Benjamin Pavard, Lucas Hernandez and David Alaba who can play in multiple positions with aplomb. This season, Alaba has slotted in as a makeshift centre back and has been a metronome for the club. However, the Austrian has lost his primary left-back position to Davies and considering the big bucks that Bayern have spent on Lucas Hernandez, he is ought to feature in the starting lineup more often putting Alaba’s position in jeopardy. Niklas Sule is also regaining fitness and most likely will take Jerome Boateng’s first-team spot next season. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img4.jpg" alt="blog1" />
            <h3>THE RECORDS</h3>
            <p>of Representing <span> Die Mannschaft</span> on <span>LARGE SCALE</span></p>
            <p>FC BAYERN REPRESENT GERMANY ON LARGE SCALE AS IT INTENSLY WORKS ON VERSATILITY OF YOUTH DEVELOPMENT . </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img5.jpg" alt="blog1" />
            <h3>TEAM GOALS</h3>
            <p> <span>Team alsways follows the motto of MIA SAN MIA</span>  which means <span>NEVER TO GIVE UP</span></p>
            <p>"Mia san mia" is again Bavarian dialect for "Wir sind wir", which means "We are who we are"</p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img6.jpg" alt="blog1" />
            <h3>LEGENDARY TRIO</h3>
            <p>FROM<span> RLR </span> TO <span>LSG</span></p>
            <p>The Historic Trio always stood up when Fans And Club Needed Them Most </p>
          <a href="detail.html" class="btn btn-danger">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</section>
